.form-register {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    padding: 3rem;
}

@media screen and (max-width: 960px) {
    .register-container {
        display: block !important;
    }

    .form-register {
        margin-top: 10px;
        width: 100% !important;
        margin-bottom: 10px;
    }
}