.update-container {
    margin-left: 500px !important;
}

@media only screen and (max-width:576px) {
    .update-container {
        margin-left: 0px !important;
    }

    .card-body-update {
        width: 22rem !important;
    }

    .card-update {
        display: block !important;
    }

    .card-update img {
        margin-bottom: 10px;
    }
}